<html>
    <body bgcolor=#92a8d1>

        <center>

        <h1> Credit Card Churn Prediction</h1><br>
        
        <form method="POST", action="{{url_for('home')}}">
           <b> PAY_1:  <input type="text", name='a', placeholder="enter 1"> <br><br>
            PAY_2 :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            PAY_3 :  <input type="text", name='c', placeholder="enter 3"> <br><br>
            PAY_4 :  <input type="text", name='d', placeholder="enter 4"> <br><br>
            PAY_5 :  <input type="text", name='e', placeholder="enter 5"> <br><br>
            PAY_6 :  <input type="text", name='f', placeholder="enter 6"> <br><br>
            
            <input type="submit" , value='predict!' >
        </form>

        
        
    </center>

    </body>
</html>